{% extends 'blog/base.html' %}
{% load static %}

<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}

                        {% if posts.has_other_pages %}
                          <ul class="pagination">
                            {% if posts.has_previous %}
                              <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                              <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in posts.paginator.page_range %}
                              {% if posts.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                              {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if posts.has_next %}
                              <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                            {% else %}
                              <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                          </ul>
                        {% endif %}

                        {% for post in posts %}
                            <div class="post">
                                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                                <div class="date">
                                    {{ post.published_date }}
                                </div>
                                <br/>
                                <p>{{ post.text | linebreaksbr }}</p>
                            </div>
                        {% endfor %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>